<h1> Respuestas</h1>

<button type="button" style="width:300px;height:200px">Respuesta 1</button>

<button type="button" style="width:300px;height:200px">Respuesta 2</button>
  <br>
    <br>
<button type="button" style="width:300px;height:200px">Respuesta 3</button>
<button type="button" style="width:300px;height:200px">Respuesta 4</button>
  <br>
    <br>

  <%= link_to "<button type='button' style='width:600px;height:200px' >Enviar</button>".html_safe, "enviada" %>
