<!DOCTYPE html>
<html>
<head>
  <title>Sistemaquiz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="main-container" class="container">
      <h3 class="titulo">QuickQuizz - EvaFisica</h3>
      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
